.friendList {
  list-style: none;
  margin-bottom: 0;
  margin-top: 40px;
  padding: 0;
}
.friendItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: rgb(212, 233, 244);
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(0.3, 0, 0, 0.3) 0px 2px 2px 2px;
}

.name {
  padding-left: inherit;
  padding-right: inherit;
  text-align: center;
  font-weight: 700;
  font-size: 22px;
  color: rgb(51, 51, 51);
}
.status {
  font-weight: bold;
  font-size: 22px;
}

.statusOnline {
  color: rgb(0, 128, 85);
}

.statusOffline {
  color: rgb(255, 0, 0);
}
